body{background-color: #0D1821;  /* https://www.w3schools.com/colors/colors_names.asp */
	font-family: ;}

p{font-family: 'Asul', sans-serif;
	color: #F2EBF0;
	font-size: 130%;}
h2{font-family: 'Asul', sans-serif;
	color: #F2EBF0;
	font-size: 180%;
	font-weight: 100%;}

header{background-color: #0D1821;
	color: #F2EBF0;
	padding: 0.5%;
	position: fixed;
	padding-left: 6%;
	font-size: 110%;}

*{margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;}

header{width: 100%;}

.navegacion ul{
	list-style: none;}

.menu > li{
	position: relative;
	display: inline-block;
	padding-right: 8%;
	font-family: 'Amarante', cursive;}

.menu > li > a{
	display: block;
	padding: 12px 20px;
	color: white;
	font-family: 'Amarante', cursive;
	text-decoration: none;}

.menu li a:hover{
	color: #242EEF;}

#autores-paper{width: 60%;
	float: left;
	padding: 10px;
	padding-top: 0;
	border: 30px;
	float: top;
	padding-left: 5%;}

#fotos{padding: 10px;
	margin: 10px;
	margin-top: 6%;
	padding-top: 0;
	border: 2px;
	float: right;
	float: top;}

.cont1{margin-top: -50px;}

#botón{margin-top: -40px;}

.cont2{padding-left: 5%;
	padding-right: 5%;}

#proyecto{background-image: url("img/beyond.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center center;}

#gif{margin-top: 10%;
	padding: 9.5%;
}

#tipa{padding: 10px;
	padding-right: 0%;
	padding-top: 0;
	border: 0;
	float: right;
	float: top;
	margin-top: -5%;}

#cont2{width: 45%;
	float: left;
	padding-top: 0;
	border: 0;
	float: top;
	padding-left: 5%;}

#cont3{
	margin: 10px;
	margin-top: 3%;
	border: 0px;
	float: right;
	float: top;
	width: 30%;}

#cont4{padding: 5%;
padding-top: 3%;
padding-right: 35%;}

#esq{margin-top: 3%;
	padding-top: 0;
	border: 0px;
	float: right;
	float: top;
	width: 45%;}

#vin{margin-left: -10%;
margin-bottom: -7%;
margin-top: -5%;}

#cont5{width: 50%;
	float: left;
	padding: 10px;
	padding-top: 0;
	border: 30px;
	float: top;
	padding-left: 5%;}


