body{background-color: white;  /* https://www.w3schools.com/colors/colors_names.asp */
	font-family: ;}

section{
	width: 70%;
	padding: 0.5% 1%;
	margin: 0px;
	background: lavender;
	margin: 0 auto; /* centrar elementos dentro de este div */
	float: center;  /* otras opciones son left, right */
	border-radius: 25px;
}