body{background-color: black;  /* https://www.w3schools.com/colors/colors_names.asp */
	font-family: ;}

header{color: #f0ede9;
	padding: 2%;}

section{background: #f0ede9;
	padding:  5%;
}

width: 50%;
	padding: 5% 25%;
	margin: 0px;
	background: #f0ede9;
	margin: 0 auto; /* centrar elementos dentro de este div */
	float: center;  /* otras opciones son left, right */

}
.menu {
  display: inline-block;
  position: relative;
}
.contenido-menu {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.menu:hover .contenido-menu {
  display: block;
}
.contenido-menu a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}
.contenido-menu a:hover {
  color: #FFFFFF;
  background-color: #00A4BD;
}